//color pallette

$primaryColor: #0B2447;
$secondaryColor: #19376D;
$thirdColor: #576CBC;
$fourthColor: #A5D7E8;

$textColor: #fff;

.btn-action{
  border: none;
  background-color: $secondaryColor;
  color: $textColor;
  padding: 8px 16px;
  border-radius: 3px;
  cursor: pointer;
}